<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Ulka</title>
    <%- $import('../partials/meta-tags.ulka') %>
    <link rel="shortcut icon" href="./logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="<%= $assets('../styles/style.css') %>" />
    <%- $import('../partials/fonts.ulka', {}, true) %>
    <style>
      .homepage {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: calc(100vh - 120px);
        align-items: center;
        justify-content: center;
      }

      .homepage .home-text {
        max-width: 450px;
        padding: 0 10px;
        font-weight: 400;
        font-size: 15px;
      }

      .homepage .home-head {
        font-size: 50px;
        padding: 0;
        margin: 10px 0;
      }

      .installation {
        margin: 20px 0;
      }

      .installation img {
        max-width: 400px;
        width: 100%;
      }

      footer {
        text-align: center;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--heavy-background-color);
      }

      .sidebar {
        position: fixed;
        margin: 0;
        top: 60px;
        height: calc(100vh - 60px);
        overflow-y: auto;
        padding: 40px 0px;
        background: var(--heavy-background-color);
        min-width: 300px;
        right: -400px;
        transition: right 0.5s;
        z-index: 20;
      }

      .sidebar .nav-link {
        margin-left: 0;
      }

      @media (max-width: 700px) {
        nav .nav-links {
          display: none;
        }

        .toggle-sidebar {
          display: block;
        }
      }
    </style>
  </head>
  <body class="light">
    <%- $import('../partials/nav.ulka', {path: ""}) %>
    <main>
      <div class="sidebar">
        <ul class="sidebar-nav">
          <li class="nav-link">
            <a href="/">Home</a>
          </li>
          <%- $import('../partials/nav-links.ulka') %>
          <li class="nav-link">
            <button onclick="toggleTheme()" class="toggle-mode">h</button>
          </li>
        </ul>
      </div>
      <div class="homepage">
        <img src="./logo.png" alt="logo" width="100" />
        <h1 class="home-head">ulkajs</h1>
        <p class="home-text">
          A simpler static site generator written in JavaScript to transform
          static data to html.
        </p>
        <div class="installation">
          <img src="<%= $assets('./install.png') %>" alt="installation" />
        </div>
      </div>
      <footer>ulkajs © 2020</footer>
    </main>
    <!-- MAIN FINISH -->

    <script>
      const themeTogglers = document.querySelectorAll('.toggle-mode')

      function findTheme() {
        let theme = localStorage.getItem('theme')
        return ['dark', 'light'].includes(theme) ? theme : 'dark'
      }

      function setTheme(theme) {
        document.body.className = theme
        themeTogglers.forEach(toggle => {
          toggle.textContent = theme === 'light' ? '🌙' : '🌕'
        })
        localStorage.setItem('theme', theme)
      }

      function toggleTheme() {
        const theme = findTheme()
        const newTheme = theme === 'light' ? 'dark' : 'light'
        setTheme(newTheme)
      }

      setTheme(findTheme())
    </script>

    <script>
      const sidebar = document.querySelector('.sidebar')
      const toggler = document.querySelector('.toggle-sidebar')

      toggler.addEventListener('click', e => {
        sidebar.classList.toggle('right-0')
      })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0/quicklink.umd.js"></script>
    <script>
      window.addEventListener('load', () => {
        quicklink.listen()
      })
    </script>
  </body>
</html>
